*{
    
}

body{

    max-width:1000px;
    margin:0 auto;
    padding-left:30px;
    padding-right:30px;
    font-family:Segoe UI;
  
}

.right{
    float:right;
    margin:0px;
}

p{
}

img{
    border:3px;
    border-color:black;
    border-style:solid;
    margin:5px;
}